* {
    font-family: 'Garamond', 'Georgia', serif;
    background-color: rgb(190, 36, 36);
}

.header{
    font-size: xx-large;
    color: white;
    text-align: center;
    /* border: 1px solid black; */
    padding: 20px auto;
    
}
.list  {
    width: 600px; 
    font-size: x-large; 
    text-align: center;
    color: rgb(190, 36, 36);
    /* border: 1px solid black; */
    padding: 20px;
    margin: 0px auto;
}
.recipes li{
    font-size: x-large;
    margin-bottom: 50px;
}